extends layout

block content
  include ./menu.jade
  .container
    .row
       div(class="col-sm-3" id="userProfileCardHomepage")
         div(class="col-sm-4" id="profilePictureHomepage")
             img(src="#{user.profileImage}" id="profilePictureImgHomepage")
       div(class="col-sm-8 well well-sm", style="floatMeRight", id="twitterStatusesHomepage")
         h2(id="statusTitle") Statuses
         ul
             hr
             - each val in tweetsAndUsersDict
               li
                 img(src="#{val.user.profileImage}" id="userProfileImage")
                 p 
                    a(href="#{val.user.username}") #{val.user.name} @#{val.user.username} 
                    span=val.status.updated_at
                 p(class="statusText")=val.status.status
               hr
