extends layout

block content
  include ./menu.jade
  .jumbotron#profilePageJumbo(style="background-image:url(#{user.headerImage})")
      form(id="uploadForm" action="/uploadHeaderPic" method="POST" enctype="multipart/form-data")
          label(class="myFile")
             img(src="http://wscont1.apps.microsoft.com/winstore/1x/c37a9d99-6698-4339-acf3-c01daa75fb65/Icon.13385.png" alt="")
             input(type="file", name="file",  class="btn btn-info btn-sm", id="headerImageUpload")
    .container

  navbar.navbar.navbar-default.navbar-staic-top
    .row(id="userStats")
        div(class="col-sm-offset-5 col-sm-7")
          .container
            ul.nav.navbar-nav.text-center
              li.active
                a(href='#') Tweets
                span(id="numOfTweets" class="text-center") #{statuses.length}
              li
                a(href='#') Following
                span(id="numFollowing") #{user.following.length}
              li
                a(href='#') Followers
                span(id="numOfFollowers") #{user.followers.length}
              li
                a(href='#') Likes
                span(id="numOfLikes") N/A
              li
                a(href='#') Lists
                span(id="numOfLists") N/A
              li(style="padding-top:10px")
                if isCurrentUser
                  input(type="submit", class="editUser btn btn-info btn-md", value="Edit Profile")
                else
                  if isFollowing
                    input(type="submit" class="btn btn-info btn-md", id="unfollow", value="unfollow")
                    input(type="submit" class="btn btn-info btn-md", id="follow", value="follow", style="display:none;")
                  else
                    input(type="submit" class="btn btn-info btn-md", id="follow", value="follow")
                    input(type="submit" class="btn btn-info btn-md", id="unfollow", value="unfollow", style="display:none;")

   
  .container
    .row
        div(class="col-sm-4" id="profilePicture")
          img(src="#{user.profileImage}" id="profilePictureImg")
          form(id="uploadProfileForm" action="/uploadProfilePic" method="POST" enctype="multipart/form-data")
             label(class="myFile")
                img(src="http://wscont1.apps.microsoft.com/winstore/1x/c37a9d99-6698-4339-acf3-c01daa75fb65/Icon.13385.png" alt="")
                input(type="file", name="profileFileUpload",  class="btn btn-info btn-sm", id="profileFileUpload")
    .row
     div(class="col-sm-3" id="userProfileCard")
       p Welcome 
          span(class="realName") #{user.name}
       p(class="username")
         span(ng-model="username") @#{user.username}
       p(class="userDescription") #{user.description}
       p Joined #{user.created_at}
     div(class="col-sm-8 well well-sm", style="floatMeRight", id="twitterStatuses")
       div(id="imageUploadAlert" class="alert alert-success alert-dismissible text-center" style="display:none")
         p Upload of image successful
       h2(id="statusTitle") Statuses
       ul
           hr
           - each val in statuses
             li
               img(src="#{user.profileImage}" id="userProfileImage")
               p 
                  strong #{user.name} @#{user.username} 
                  span=val.updated_at
               p(class="statusText")=val.status
               br
               if isCurrentUser
                 div.buttons
                    input(type="submit", class="editable btn btn-default",  id= val._id, value="Edit")
                    form(action="/deleteStatus" method="POST")
                      input(type="hidden", name="statusid", value=val._id)
                      input(type="submit", value="Delete", class="btn btn-default")
                 br
             hr
