//output:profile.html

extends layout

block content
  p Welcome #{user}
  div.alert-success #{newStatus}
  form(action="/newstatus" method="POST")
      label Status:
      input(type="textarea" name="status")
      br
      input(type="submit" value="Post status")

  p statuses
  p #{statuses}
  //- var statusList = #{statuses};
  ul
     - each val in statuses
       li= val.status
